@import "~node_modules/normalize.css/normalize.css";
@import "~node_modules/remixicon/fonts/remixicon.css";
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap");

:root {
  --primary: #38bdf8;
  --success: #bef264;
  --warning: #fef08a;
  --info: #67e8f9;
  --danger: #ef4444;
  --text-primary: #0f172a;
  --text-secondary: #475569;
  --text-tertiary: #94a3b8;
}

body {
  font-family: "Fredoka", sans-serif;
  font-size: 16px;
  color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 10px;
}

#home {
  padding-bottom: 80px;
  padding-top: 25px;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-block {
      display: flex;
      align-items: center;
      .gh-button {
        display: inline-block;
        height: 28px;
        margin-left: 25px;
      }
      .ph-button {
        margin-left: 20px;
      }
    }
    .navbar {
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          display: inline-block;
          margin-right: 25px;
          font-size: 1.0625rem;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  .row {
    display: flex;
    align-items: center;
    margin-top: 116px;
    .home {
      width: 70%;
      margin-right: 30px;
      .heading {
        font-size: 42px;
        font-weight: 500;
        max-width: 600px;
        margin-top: 0;
        margin-bottom: 30px;
      }
      .desc {
        font-size: 22px;
        color: var(--text-secondary);
        max-width: 680px;
        margin-bottom: 50px;
      }
      .actions {
        .button {
          padding: 14px 32px;
          font-weight: 500;
          font-size: 22px;
          display: inline-block;
          border-radius: 4px;
          &.fill {
            background-color: var(--primary);
            color: #fff;
            margin-right: 20px;
          }
          &.outline {
            border: 1px solid var(--primary);
            color: var(--primary);
          }
        }
      }
    }
    #message-preview {
      width: 30%;
      padding: 40px;
      box-shadow: 0px 6px 10px 1px rgba(15, 23, 42, 0.07);
      border-radius: 10px;
      display: inline-block;
      position: relative;
      .title {
        font-weight: 500;
        font-size: 22px;
        margin-bottom: 8px;
      }
      .badge {
        font-size: 0.875rem;
        padding: 3px 13px;
        display: inline-block;
        border-radius: 5px;
      }
      #status {
        &.scheduled {
          background: var(--warning);
        }
        &.processing {
          background: var(--info);
        }
        &.completed {
          background: var(--success);
        }
      }
      .message {
        margin-top: 16px;
        margin-bottom: 12px;
      }
      .groups {
        margin-bottom: 20px;
        .group {
          background: var(--warning);
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .timestamps {
        display: flex;
        i {
          font-size: 1.5rem;
          color: var(--text-tertiary);
          margin-right: 12px;
        }
        .list {
          padding: 0;
          margin: 0;
          li {
            list-style: none;
            line-height: 1.45rem;
            color: var(--text-secondary);
            strong {
              color: var(--text-primary);
            }
          }
        }
      }
      .close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 1.5rem;
        color: var(--text-tertiary);
        cursor: pointer;
        &:hover {
          color: var(--text-secondary);
        }
      }
    }
  }
}

#features {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  .image {
    width: 40%;
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      max-width: 250px;
      height: auto;
    }
  }
  .content {
    width: 60%;
    .heading {
      font-size: 36px;
      font-weight: 500;
      margin: 0;
      margin-bottom: 30px;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        display: flex;
        align-items: center;
        i {
          font-size: 24px;
          color: var(--primary);
        }
        p {
          font-size: 18px;
          margin: 0;
          margin-left: 30px;
          margin-top: 10px;
          margin-bottom: 10px;
          color: var(--text-secondary);
        }
      }
    }
  }
}

#how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  .heading {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 30px;
  }
  .description {
    font-size: 18px;
    color: var(--text-secondary);
    text-align: center;
    margin-bottom: 60px;
  }
  .video {
    width: 100%;
    max-width: 640px;
    height: auto;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  margin-bottom: 45px;
  .made-with {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    .text {
      font-size: 18px;
      color: var(--text-primary);
    }
    .icon {
      font-size: 24px;
      color: var(--danger);
      margin-left: 8px;
    }
  }
  .maintainer {
    font-size: 17px;
    color: var(--text-secondary);
    a {
      color: var(--primary);
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 900px) {
  #home {
    header {
      .ph-button {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #home {
    header {
      .navbar {
        display: none;
      }
    }
    .row {
      flex-direction: column;
      align-items: flex-start;
      .home {
        margin-bottom: 20px;
        margin-right: 0;
        width: 100%;
        .actions {
          .button {
            &.fill {
              margin-bottom: 30px;
            }
          }
        }
      }
      #message-preview {
        width: calc(100% - 80px);
      }
    }
  }
  #features {
    flex-direction: column-reverse;
    .image {
      width: 100%;
    }
    .content {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}
